(cors) {
	@cors_preflight method OPTIONS

	header {
		Access-Control-Allow-Origin "*"
		Vary Origin
		Access-Control-Expose-Headers "Authorization"
		Access-Control-Allow-Credentials "true"
	}

	handle @cors_preflight {
		header {
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, HEAD"
			Access-Control-Allow-Headers "*"
			Access-Control-Max-Age "3600"
		}
		respond "" 204
	}
}

:{$PORT:8443} {
	basic_auth {
		{$BASIC_AUTH_USER:admin} {$BASIC_AUTH_HASH}
	}

	import cors {header.origin}

	@healthcheck {
		path_regexp healthcheck ^/healthcheck/?$
	}
	handle @healthcheck {
		header Content-Type application/json
		respond "{ \"ok\": true }" 200
	}

	reverse_proxy ${TELEGRAM_MCP_URL}:8080
}
